.timer {
    border: 3px solid #098b3f;
    border-radius: 5px;
    margin-bottom: 6rem;
    box-shadow: -1px 2px 30px 5px rgba(0, 0, 0, 1);
    position: relative;
    height: 20rem;
}

.header {
    text-align: left;
    font-size: 1.8rem;
}

.meta {
    text-align: left;
}

.description {
    font-size: 23rem;
}

.btn-start {
    position: absolute;
    top: 65%;
    width: 40%;
    left: 30%;

}

.btn-outline-primary {
    font-size: 2rem;
    border: 3px solid #09558b;
    border-radius: 150px;
    color: #09558b;

    &:hover {
        background-color: #09558b;
        border: 3px solid #09558b;
    }
}